@media (max-width: 650px) {
    .dictText .adminButtons {
        max-height: unset;
    }
}

@media (max-width: 450px) {
    .header {
        flex-wrap: wrap;
        height: 200px;
        align-content: center;
        gap: 10px;
    }
    .headerButtons {
        justify-content: center;
        width: 100%;
    }
    .header h1 {
        margin: 0;
    }
}


.header {
    justify-content: space-between;
}

.headerButtons {
    display:flex;
    gap: 10px;
}

.adminButtons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 55px;
    gap: 10px;
    align-items: center;
    max-width: 80px;
    min-width: 30px;
}

.adminButtons p {
    margin: 0;
}

.entryForm {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 0 20px 0 #00000075;
    border: #000000 1px solid;
    box-sizing: border-box;
}

@media (max-width: 550px) {
    .entryForm {
        width: 95%
    }
    .dictText {
        gap: 5px;
    }
    .dictEntry {
        padding: 10px;
    }
    .dictTag {
        top: 7px;
        right: 7px;
    }
    .dropdownIcon {
        right: 7px;
    }
}

.closeButton.buttonIcon {
    top: 20px;
    position: absolute;
    right: 20px;
    margin: 0px;
    font-size: 30px;
}

.entryForm form {
    width: 100%;
}

.entryForm form * {
    width: 100%;
}

.entryForm select {
    width: calc(100% + 8px);
    height: 28px;

}

.entryForm input {
    height: 20px;
}

.entryForm textArea {
    height: 60px;
    min-height:20px;
    resize: vertical;

}

.entryForm label {
    display: block;
    margin-top: 10px;
}

.entryFormNotice {
    font-size: .9em;
}

.entryForm button {
    width: unset;
    margin-top: 10px;
}

